@font-face {
    font-family: 'poppins';
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth
}

body {
    background-color: #05141B;
}

body::-webkit-scrollbar {
    width: 0.3rem;
    height: 0rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(80, 93, 105);
}

body::-webkit-scrollbar-thumb {
    background: #e7eaef;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

/* ---------------------------------------------------NAV BAR STYLING--------------------------------------------------- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    width: 100vw;
    min-height: 40px;
    align-items: center;
}

.nav--menu {
    margin-top: 25px;
}

.nav--main {
    margin-top: 25px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 30px;

}

nav img {
    width: 35px;
    padding: 0;
}

nav h3 {
    padding: 0 8px;
    font-size: 25px;
    color: white;
    margin: 0;
}

.nav--main a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    color: white;
}

nav a:nth-child(-n+4):hover {
    text-shadow: -3px -3px 15px #26f7fdf7,
        4px 1px 2px rgba(38, 247, 253, 1),
        0px 0px 25px rgba(38, 247, 253, 1),
        0px 0px 12px rgba(38, 247, 253, 1),
        0px 0px 18px rgba(38, 247, 253, 1),
        0px 0px 7px rgba(38, 247, 253, 1);
    font-size: 23px;
    transition: all ease 0.5s;
}

.sign-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--sign {
    display: flex;
    align-items: center;
}

.nav--sign:hover {
    filter: drop-shadow(5px 1px 5px rgba(38, 247, 253, 0.97)) drop-shadow(5px 1px 2px rgba(38, 247, 253, 1)) drop-shadow(1px 1px 15px rgba(38, 247, 253, 1));
    scale: 1.1;
    transition: all ease 0.5s;
}

/* ---------------------------------------------------MAIN CONTENT STYLING --------------------------------------------------- */
article {
    margin-bottom: 150px;
}

.mainSection--hero img {
    width: 100%;
    height: 55em;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
}

.mainSection {
    color: aliceblue;
}

.mainSection h1 {
    color: rgba(240, 248, 255, 0.568);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.432);
    font-size: 60px;
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-50%, -60%);
    text-wrap: nowrap;
}

.mainSection h2 {
    color: whitesmoke;
    font-size: 45px;
    margin: 0.9em 0;
}

.mainSection h4 {
    color: rgba(255, 255, 255, 0.219);
    font-size: 30px;
    position: absolute;
    top: 65%;
    left: 49%;
    transform: translate(-50%, -60%);
    text-wrap: nowrap;
}

.signUp-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUp-btn button:hover {
    box-shadow: -3px -3px 15px #26f7fdf7;
    width: 250px;
    height: 90px;
    font-size: 30px;
    transition: all 0.5s;
}

.signUp-btn button:active {
    box-shadow: -3px -3px 15px #26f7fdf7;
    width: 190px;
    height: 50px;
    font-size: 23px;
    transition: all 0.5s;
}

.signUp-btn button {
    width: 200px;
    height: 60px;
    font-size: 26px;
    color: white;
    background-color: #425b6b;
    border: 1px solid #384147;
}

.mainSection--aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 2px solid #c2cdd683;
}

.mainSection--aboutUs img {
    width: 350px;
    height: 450px;
    display: inline;
    object-fit: contain;
}

.aboutUs--desc {
    margin: 0 3em;

}

.aboutUs--desc p {
    margin: 50px 0;
}

.mainSection--services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 2px solid #c2cdd683;
    margin: 150px auto;
}

.service {
    display: flex;
    border: 0.5px solid #ff5f2048;
    align-items: center;
    margin: 2em 0;
    width: 80%;
}

.service--desc {
    width: 40%;
}

.service--desc p {
    margin: 25px 0;
    width: 100%;
}

.service--desc h3 {
    font-size: 25px;
}

.mainSection--services h2 {
    font-size: 45px;
    margin: 2em 0;
}

.mainSection--services img {
    height: 350px;
    width: 350px;
    margin-right: 3em;
    object-fit: cover;
}

.mainSection--whyUs {
    margin: auto;
    width: 80%;
    border: 2px solid #c2cdd683;
}

.container-slider {
    width: 50%;
    flex-shrink: 2;
    margin: auto;
}

.mainSection--whyUs h2 {
    margin: 2em 0;
    text-align: center;
}

.mainSection--whyUs p {
    text-align: center;
    margin: 1em 0;
    font-size: 20px;
}

.mainSection--whyUs bold {
    color: #fdff6f;
    text-shadow: 0px 0px 10px rgba(243, 255, 68, 1),
        0px 0px 12px rgba(238, 255, 0, 1),
        -2px -1px 3px rgba(229, 255, 0, 0.836),
        4px 0px 12px rgba(255, 238, 0, 1),
        -5px 0px 15px rgb(255, 255, 218);
}

/* --------------------------------------------------------------------FOOTER STYLES-------------------------------------------------------------------- */
.footer--container {
    display: flex;
    background-color: #cbcbcc;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 150px auto 0 auto;
}

.footer--links ul {
    list-style: none;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
}

.footer--links li {
    margin: 5em 3em;
}

.footer--links a {
    text-decoration: none;
    color: #526f81;
}

.footer--links a:hover {
    font-size: 20px;
    transition: all ease 0.5s;
}

.footer--socialMedia img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin: 3em 5em;
    filter: grayscale(100);
}

.footer--socialMedia img:hover {
    filter: grayscale(0);
    transform: scale(1.2);
    transition: all ease 0.5s;
}

.footer--copyRight {
    color: #3c4347;
    width: 70%;
    margin: auto
}


@media only screen and (max-width: 1100px) {
    .mainSection--hero img {
        width: 100%;
        height: 44em;
        margin: 0 auto;
    }
    

    nav h3 {
        font-size: 20px;
    }

    .nav--main a {
        font-size: 16px;
    }
    .nav--main li{
        margin: 1em 0;
    }

    nav img {
        width: 28px;

    }

    nav a:nth-child(-n+4):hover {
        font-size: 18.4px;
    }

    .mainSection h1 {
        font-size: 36px;
    }


    .mainSection h2 {
        font-size: 30px;
       
    }

    .mainSection h3 {
        font-size: 25px;

    }

    .mainSection h4 {
        font-size: 24px;
    }

    .mainSection p {
        font-size: 15px;
    }

    .mainSection--aboutUs img {
        width: 280px;
        height: 370px;
    }

    .service--desc {
        width: 30%;
    }

    .service--desc h3 {

        font-size: 20px;
    }

    .service--desc p {
        font-size: 15px;

    }

    .mainSection--services img {
        height: 300px;
        width: 300px;

    }

}

@media only screen and (max-width: 939px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
 
}

@media only screen and (max-width: 768px) {
    .mainSection--hero img {
        height: 39.6em;
        /* 44em - 10% */
    }

    nav h3 {
        font-size: 18px;
        /* 20px - 10% */
    }

    .nav--main a {
        font-size: 14.4px;
        /* 16px - 10% */
    }

    nav img {
        width: 25.2px;
    }

    nav a:nth-child(-n+4):hover {
        font-size: 16.56px;
    }

    .mainSection h1 {
        font-size: 32.4px;
    }

    .mainSection h2 {
        font-size: 25px;
       
    }

    .mainSection h3 {
        font-size: 22.5px;
    }

    .mainSection h4 {
        font-size: 21.6px;
    }

    .mainSection p {
        font-size: 13.5px;
    }

    .mainSection--aboutUs img {
        width: 240px;
        height: 320px;
    }

    .service--desc {
        width: 50%;
    }

    .service--desc h3 {
        font-size: 13px;
    }

    .service--desc p {
        font-size: 10px;
    }

    .mainSection--services img {
        height: 230px;
        width: 220px;
    }
}
@media screen and (max-width:580px) {

    .mainSection--hero img {
        height: 40em; /* 44em - 35% */
     width: 100%;
    }
    
    nav h3 {
        font-size: 15px; /* 20px - 35% */
    }
    
    .nav--main a {
        font-size: 13px; /* 16px - 35% */
    }
    nav a:nth-child(-n+4):hover {
        font-size: 11.96px; /* 18.4px - 35% */
    }
    
    .mainSection h1 {
        font-size: 23.4px; /* 36px - 35% */
    }
    
    .mainSection h2 {
        font-size: 17px; /* 30px - 35% */
     
    }
    
    .mainSection h3 {
        font-size: 17px; /* 25px - 35% */
    }
    
    .mainSection h4 {
        font-size: 5px; /* 24px - 35% */
    }
    
    .mainSection p {
        font-size: 9.75px; /* 15px - 35% */
    }
    
    .mainSection--aboutUs img {
        width: 182px; /* 280px - 35% */
        height: 240.5px; /* 370px - 35% */
    }
    .service--desc {
        width: 50%;
    }  
    .service--desc h3 {
        font-size: 12px; /* 20px - 35% */
    }
    
    .service--desc p {
        font-size: 8px; /* 15px - 35% */
    }
    
    .mainSection--services img {
        height: 150px; /* 300px - 35% */
        width: 150px; /* 300px - 35% */
    }
    .footer--links li {
        margin: 5em 20px;
    }
    .footer--socialMedia img {
        height: 30px;
        width: 30px;
        margin: 3em 3em;
    }
    .footer--copyRight{
        text-align: center;
        font-size: 15px;
    }

}
@media screen and (max-width:530px) {
   nav{
    flex-direction: column;
   }
}
@media screen and (max-width:425px) {
    
    .mainSection--hero img {
        height: 35em; /* 44em - 60% */
    }
    
    nav h3 {
        font-size: 15px; /* 20px - 60% */
    }
    
    .nav--main a {
        font-size: 13px; /* 16px - 60% */
    }
    
    nav img {
        width: 20px; /* 28px - 60% */
    }
    
    nav a:nth-child(-n+4):hover {
        font-size: 15px; /* 18.4px - 60% */
    }
    
    .mainSection h1 {
        font-size: 25px; /* 36px - 60% */
    }
    
    .mainSection h2 {
        font-size: 17px; /* 30px - 60% */
       
    }
    

    
    .mainSection h4 {
        font-size: 13px; /* 24px - 60% */
    }
    
    .mainSection p {
        font-size: 8px; /* 15px - 60% */
    }
    
    .mainSection--aboutUs img {
        width: 180px; /* 280px - 60% */
        height: 150px; /* 370px - 60% */
    }
    
    .service--desc{
        margin: auto;
        width: 50%;
        height: 50%;
    }
    
    .service--desc h3 {
        font-size: 10px; /* 20px - 60% */
    }
    
    .service--desc p {
        font-size: 7.5px; /* 15px - 60% */
    }
    
    .mainSection--services img {
        height: 110px; /* 300px - 60% */
        width: 110px; /* 300px - 60% */
        margin: auto 1em;
    }
    .footer--links li {
        margin: 5em 15px;
    }
    .footer--socialMedia img {
        height: 30px;
        width: 30px;
        margin: 3em 2.5em;
    }
    .footer--copyRight{
        text-align: center;
        font-size: 15px;
    }
}
